@font-face {
  font-family: Chalk;
  src: url(../assets/fonts/Chalk-Regular.ttf);
}

@font-face {
  font-family: Chalkiez;
  src: url(../assets/fonts/Chalkiez-Regular.ttf);
}

@font-face {
  font-family: RightChalk;
  src: url(../assets/fonts/RightChalk.ttf);
}

body {
  background-image: url(../assets/images/6_Blackboard\ texture-seamless.jpg);
  color: white;
}

h1 {
  font-size: 5rem;
  font-family: RightChalk;
  font-weight: lighter;
  opacity: 0.8;
}

.letter-choices {
  width: 60%;
}

.letter-choices button {
  font-family: RightChalk;
  font-size: 3rem;
  border: none;
  background: none;
  color: white;
}