@font-face {
  font-family: Chalk;
  src: url(../assets/fonts/Chalk-Regular.ttf);
}

@font-face {
  font-family: Chalkiez;
  src: url(../assets/fonts/Chalkiez-Regular.ttf);
}

@font-face {
  font-family: RightChalk;
  src: url(../assets/fonts/RightChalk.ttf);
}

body {
  background-image: url(../assets/images/6_Blackboard\ texture-seamless.jpg);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 7rem;
  font-family: RightChalk;
  font-weight: lighter;

  & span:nth-child(10n + 7),
  & span:nth-child(10n + 1){
    color: rgb(255, 193, 193);
  }
  & span:nth-child(10n + 6),
  & span:nth-child(10n + 2){
    color: rgb(253, 255, 198);
  }
  & span:nth-child(10n + 5),
  & span:nth-child(10n + 3){
    color: rgb(191, 255, 178);
  }
  & span:nth-child(10n + 4){
    color: rgb(190, 254, 255);
  }
}

.letter-choices {
  width: 80%;

  & button {
    font-family: RightChalk;
    font-size: 5rem;
    border: none;
    color: white;
    background: none;
  }

  & img {
    width: 7rem;
    height: 7rem;
  }
}

.word {
  font-family: Chalkiez;
  font-size: 8rem;
}

.stage {
  aspect-ratio: 1/1;
  height: 60vh;
}

.footer {
  font-family: Chalkiez;
  font-size: 2rem;
}

.restart,
.sound {
  background: none;
  border: none;

  & img {
    width: 4vw;
    height: 4vw;
  }
}