@font-face {
  font-family: Chalk;
  src: url(../assets/fonts/Chalk-Regular.ttf);
}

@font-face {
  font-family: Chalkiez;
  src: url(../assets/fonts/Chalkiez-Regular.ttf);
}

@font-face {
  font-family: RightChalk;
  src: url(../assets/fonts/RightChalk.ttf);
}

body {
  background-image: url(../assets/images/6_Blackboard\ texture-seamless.jpg);
  color: white;
}

h1 {
  font-size: 7rem;
  font-family: RightChalk;
  font-weight: lighter;
}

.letter-choices {
  width: 80%;

  & button {
    font-family: RightChalk;
    font-size: 5rem;
    border: none;
    color: white;
    background: none;
  }

  & img {
    width: 7rem;
    height: 7rem;
  }
}

.word {
  font-family: Chalkiez;
  font-size: 8rem;
}

.stage {
  aspect-ratio: 1/1;
  height: 70vh;
}